<table class="zebra-striped" style="table-layout:fixed">
    <tr class="csslint-header">
        <td width="10">Line</td>
        <td width="30">Declaration</td>
        <td width="10">Type</td>
        <td width="50">Message</td>
    </tr>
    {{#reportList}}
    <tr>
        <td class="line" data-col="{{col}}">{{line}}</td>
        <td style='word-wrap: break-word'>{{evidence}}</td>
        <td style='word-wrap: break-word'>{{type}}</td>
        <td style='word-wrap: break-word'>{{message}}</td>
    </tr>
    {{/reportList}}
</table>
